*{

    margin: 0;
    padding: 0;
}

.container{

    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(read/Readback.jpg);
    background-position: center;
    background-size: cover;

}

.row{

    display: flex;
    height: 88%;
    align-items: center;
}
h1{

    color: white;
    font-size: 50px;
}
p{
    color: white;
}

 .card{

    width: 200px;
    height: 230px;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

} 
.card1{
    background-image: url(read/images\ \(1\).png);
}
.card2{
    background-image: url(read/Purandhaka.png);
}

.card2 h5{

    color:white;
}
.card3{
    background-image: url(read/Shat.png);
}
.card4{
    background-image: url(read/kuakata.png);
} 
.card:hover{

    transform:translateY(-10px);
}
h5{

    columns: white;
    text-shadow: 0 0 5px;
}
.container button{

    border-radius: 5px;
    font-size:15px;
    font-weight: 800;
}
button:hover{

    text-decoration:rgb(13, 224, 13);
}