nav{

    background-color: rgb(235, 224, 224);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{

    width: 100%;
    list-style: none;
    display: flex;

    justify-content: flex-end;
    align-items: center;
}

nav li{

    height: 50px;
}

nav a{

    height: 100%;
    padding: 0px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: rgb(15, 142, 201);
}
.system{
    align-items: center;
}